# plugin
TASK_ENGINE_CLASSNAME="AWSLambdaTaskEnginePlugin"
DB_ENGINE_CLASSNAME="SupaBasePlugin"
# db
SUPABASE_URL="your supabase db url"
SUPABASE_SERVICE_KEY="your supabase service key"
# table name
KNOWLEDGE_TABLE_NAME=knowledge
CHUNK_TABLE_NAME=chunk
TASK_TABLE_NAME=task
ACTION_TABLE_NAME: action
TENANT_TABLE_NAME: tenant
# llm
OPENAI_API_KEY="your openai api key"
# aws
SQS_QUEUE_URL="your aws sqs queue url"