SQS_QUEUE_URL="your SQS queue url"
OUTPUT_QUEUE_URL="your SQS queue url"
SUPABASE_URL="your supabase url"
SUPABASE_SERVICE_KEY="your supabase service key"
TASK_ENGINE_CLASSNAME="your task engine class name"
DB_ENGINE_CLASSNAME="your db engine class name"
